.ams-track {
  $gray: #888;
  font-family:
    'Helvetica', 'Arial',
    'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', '游ゴシック', 'Yu Gothic',
    sans-serif;

  .title {
    font-weight: bold;
  }

  .user-name {
    color: $gray;
  }
}
