.ams-icons {
  position: absolute;
  line-height: 2;
  text-align: right;
  z-index: 1000;
  top: 20px;
  // 幅360px未満
  right: 10px;

  // 幅360px以上
  @media screen and (min-width: 360px) {
    right: 15px;
  }

  // 幅480px以上
  @media screen and (min-width: 480px) {
    right: 20px;
  }

  a {
    img {
      border-style: none;
    }
  }
}
