.ams-playlist {
  $gray: #888;
  $blue: #1e90ff;

  &:not(.play-mode) {
    font-family:
      'Helvetica', 'Arial',
      'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', '游ゴシック', 'Yu Gothic',
      sans-serif;

    p {
      position: relative;

      .playlist-mask {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .title {
      font-weight: bold;
    }

    .user-name {
      color: $gray;
    }
  }

  &.play-mode {
    position: absolute;
    color: $blue;
    z-index: 1000;

    &.back {
      cursor: pointer;
      line-height: 1;
      font-family:
        'Futura', 'Tw Cen MT', 'Century Gothic', 'Poppins',
        sans-serif;
      font-size: 4.2rem;
      top: 20px;
      // 幅360px未満
      left: 10px;

      p span {
        margin: 0 0 0 .5rem;
      }

      // 幅360px以上
      @media screen and (min-width: 360px) {
        left: 15px;

        p span {
          margin: 0 0 0 .75rem;
        }
      }

      // 幅480px以上
      @media screen and (min-width: 480px) {
        left: 20px;

        p span {
          margin: 0 0 0 1rem;
        }
      }
    }

    &.info {
      line-height: 1.2;
      text-align: right;
      bottom: 20px;
      // 幅360px未満
      right: 10px;

      // 幅360px以上
      @media screen and (min-width: 360px) {
        right: 15px;
      }

      // 幅480px以上
      @media screen and (min-width: 480px) {
        right: 20px;
      }

      .title {
        font-family:
          'Futura', 'Tw Cen MT', 'Century Gothic', 'Poppins',
          'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', '游ゴシック', 'Yu Gothic',
          sans-serif;
        font-size: 4.2rem;
      }

      .user-name {
        font-family:
          'Helvetica', 'Arial',
          'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', '游ゴシック', 'Yu Gothic',
          sans-serif;
        font-size: 2.1rem;
      }
    }
  }
}
